<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <section name="policyConfig" type="Toolbox_DB31.AVMS_Adapter.PolicyConfigSection,Toolbox-DB31"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <DXThemeManager>
            <setting name="ApplicationThemeName" serializeAs="String">
                <value>MetropolisDark</value>
            </setting>
        </DXThemeManager>
    </userSettings>
    <policyConfig>
        <policy key="VideoLossPolicy" value="3"/>
        <policy key="VMDPolicy" value="14"/>
        <policy key="HWTriggerPolicy" value="10"/>
    </policyConfig>
</configuration>
